{% extends 'base.html' %}

{% block title %}
About | Warthog (WART) Blockchain Explorer
{% endblock %}

{% block content %}
    <div class="h-8"></div>
    <div class="">
        <p class="font-bold text-2xl pb-2">About</p>
        <div class="w-full">
            <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 flex flex-col text-center overflow-auto">
                <p class="text-base p-4 inline-block">Block Explorer for the Warthog (WART) Blockchain. Made by Andrew/xf10.</p>
                <p class="text-xl m-4">Get In Touch</p>
                <div class="flex flex-col items-center">
                    <p class="text-base p-2 underline"><a href="mailto:contact@wartscan.io">Email</a></p>
                </div>
                <div class="flex flex-col items-center">
                    <p class="text-base p-2">Discord:</p>
                    <div class="bg-cover bg-[url('/static/img/f10.jpg')] rounded-full size-20"></div>
                    <p class="text-base p-2">andrewryan777</p>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="t">
    <!--                <p style="font-style: italic;">ad</p>-->
        </div>
    </div>

{% endblock %}