{% extends 'base.html' %}

{% block title %}
{{ title | safe}} | Warthog (WART) Blockchain Explorer
{% endblock %}

{% block content %}
    <div class="h-8"></div>
    <div class="">
      <div class="group relative overflow-auto">
        <p class="font-bold text-2xl inline">Address</p>
        <div class="p-1 rounded-lg bg-neutral-100 dark:bg-neutral-800 hidden absolute group-hover:block group-hover:visible z-10 left-1/3 top-0" id="copy-tooltip">Copy</div>
        <p class="text-purple-500 inline text-xl hover:cursor-pointer" id="addr" onclick="copy()" onmouseout="out()">{{ address }}</p>
      </div>

      <div class="w-full pt-2">
        <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 overflow-auto">
          <table class="table-auto w-full divide-neutral-700 divide-y rounded-lg px-4">
            <tbody class="text-md leading-4 divide-neutral-700 divide-y">
            {% if label %}
                <tr>
                  <td class="p-4 text-neutral-500">Label:</td>
                  <td class="p-4 font-bold text-lg">{{ label }}</td>
                </tr>
            {% endif %}
            <tr>
              <td class="p-4 text-neutral-500">Balance:</td>
              <td class="p-4 font-bold text-lg">{{ balance }} WART</td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Value:</td>
              <td class="p-4 text-lg">{{ value }}</td>
            </tr>
            {% if miningratio == "" %}
            {% else %}
                {% block ratiorow %}
                <tr>
                  <td class="p-4 text-neutral-500">Hashrate Ratio:</td>
                  <td class="p-4 text-lg">{{ miningratio | safe }}</td>
                </tr>
                {% endblock ratiorow %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="h-32"></div>
    <div class="">
      <p class="font-bold text-2xl pb-2">Transactions</p>
      <div class="w-full">
        <div class="w-full bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 overflow-auto">
            <table class="table-auto w-full divide-neutral-700 divide-y rounded-lg px-4">
                <thead class="text-left text-md leading-4">
                  <tr>
                    <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500 rounded-tl-lg">Hash</th>
                    <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500">Timestamp</th>
                    <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500">Amount</th>
                    <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500">Fee</th>
                    <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500">Sender</th>
                    <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500 rounded-tr-lg">Recipient</th>
                  </tr>
                </thead>
                <tbody class="divide-neutral-700 divide-y text-md leading-4">
                  {% for tx in txdata %}
                  <tr>
                    <td class="p-4 underline whitespace-nowrap"><a href=/tx/{{ tx["hash"] }}>{{ tx["hash"][:18] }}...</a></td>
                    <td class="p-4 whitespace-nowrap">{{ tx["timestamp"] }}</td>
                    <td class="p-4 whitespace-nowrap {{ "text-red-500" if address == tx["sender"] else "text-green-500" }}">{{ tx["amount"] | safe }} WART</td>
                    <td class="p-4 whitespace-nowrap">{{ tx["fee"] }} WART</td>
                    <td class="p-4 whitespace-nowrap">
                        {% if tx["sender"] == address %}
                            {{ tx["sender"][:18] }}...
                        {% elif tx["sender"] != "" %}
                        <a class="underline" href=/account/{{ tx["sender"] }}>{{ tx["sender"][:18] }}...</a>
                        {% else %}
                        Block Reward
                        {% endif %}
                    </td>
                    <td class="p-4 whitespace-nowrap">
                        {% if tx["recipient"] == address %}
                            {{ tx["recipient"][:18] }}...
                        {% elif tx["recipient"] != "" %}
                        <a class="underline" href=/account/{{ tx["recipient"] }}>{{ tx["recipient"][:18] }}...</a>
                        {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <div class="flex w-full justify-center">
                <div>
                  <a href='/account/{{ address }}?p={{ page - 1 }}'>
                    <svg class="h-4 inline fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"/></svg>
                  </a> <p class="font-bold inline">{{ page }}</p>
                  <a href='/account/{{ address }}?p={{ page + 1 }}'>
                    <svg class="h-4 inline fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg>
                  </a>
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-end">
      <a class="italic underline hover:font-bold" href="/csv-export?address={{ address }}">CSV Export</a>
    </div>
<script>
function copy() {
  var copyText = document.getElementById("addr");
  navigator.clipboard.writeText(copyText.textContent);

  var tooltip = document.getElementById("copy-tooltip");
  tooltip.innerHTML = "Copied!";
}

function out() {
  var tooltip = document.getElementById("copy-tooltip");
  tooltip.innerHTML = "Copy";
}
</script>
{% endblock %}