{% extends 'base.html' %}

{% block title %}
Links | Warthog (WART) Blockchain Explorer
{% endblock %}

{% block content %}
    <div class="h-8"></div>
    <div class="">
        <p class="font-bold text-2xl pb-2">Community</p>
        <div class="w-full">
            <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 overflow-auto">
                <a class="underline block p-4" href="https://discord.gg/z6pWeqhRPW" target="_blank">Discord</a>
                <a class="underline block p-4" href="https://bitcointalk.org/index.php?topic=5458046.0" target="_blank">Bitcointalk</a>
                <a class="underline block p-4" href="https://t.me/warthognetwork" target="_blank">Telegram</a>
                <a class="underline block p-4" href="https://twitter.com/warthognetwork" target="_blank">Twitter</a>
                <a class="underline block p-4" href="https://www.reddit.com/r/warthognetwork/" target="_blank">Reddit</a>
            </div>
        </div>
        <div class="h-8"></div>
        <p class="font-bold text-2xl pb-2">Warthog</p>
        <div class="w-full overflow-auto">
            <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 min-w-fit">
                <a class="underline block p-4" href="https://warthog.network/" target="_blank">Website</a>
                <a class="underline block p-4" href="https://github.com/warthog-network/Warthog" target="_blank">GitHub</a>
                <a class="underline block p-4" href="https://github.com/warthog-network/whitepaper/blob/master/whitepaper.md/" target="_blank">Whitepaper</a>
                <a class="underline block p-4" href="https://www.warthog.network/docs/" target="_blank">Docs</a>
                <a class="underline block p-4" href="https://github.com/warthog-network/wart-wallet" target="_blank">GUI-Wallet</a>
                <a class="underline block p-4" href="https://github.com/I-luk-I/Warthog-network-dapp" target="_blank">Wart-dapp</a>
            </div>
        </div>
        <div class="h-8"></div>
        <p class="font-bold text-2xl pb-2">Exchanges</p>
        <div class="w-full overflow-auto">
            <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 min-w-fit">
                <a class="underline block p-4" href="https://app.exbitron.com/exchange/?market=WART-USDT" target="_blank">Exbitron</a>
                <a class="underline block p-4" href="https://xeggex.com/market/WART_USDT?ref=631145aa14cd9f74ffbe0de3&campaign=wartscan&source=wartscan&zone=links" target="_blank">Xeggex</a>
                <a class="underline block p-4" href="https://tradeogre.com/exchange/WART-USDT" target="_blank">TradeOgre</a>
            </div>
        </div>
        <div class="h-8"></div>
        <p class="font-bold text-2xl pb-2">Trackers</p>
        <div class="w-full overflow-auto">
            <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 min-w-fit">
                <a class="underline block p-4" href="https://www.coingecko.com/en/coins/warthog" target="_blank">CoinGecko</a>
                <a class="underline block p-4" href="https://coincodex.com/crypto/warthog/" target="_blank">CoinCodex</a>
                <a class="underline block p-4" href="https://coinpaprika.com/coin/wart-warthog/" target="_blank">Coinpaprika</a>
                <a class="underline block p-4" href="https://www.livecoinwatch.com/price/WarthogNetwork-WART" target="_blank">LiveCoinWatch</a>
                <a class="underline block p-4" href="https://coinstats.app/coins/warthog/" target="_blank">CoinStats</a>
                <a class="underline block p-4" href="https://miningpoolstats.stream/warthog" target="_blank">MiningPoolStats</a>
                <a class="underline block p-4" href="https://delta.app/en" target="_blank">Delta</a>
            </div>
        </div>
        <div class="h-8"></div>
        <p class="font-bold text-2xl pb-2">Mining</p>
        <div class="w-full overflow-auto">
            <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 min-w-fit">
                <a class="underline block p-4" href="https://warthog.acc-pool.pw/" target="_blank">acc-pool</a>
                <a class="underline block p-4" href="https://woolypooly.com/" target="_blank">WoolyPooly</a>
                <a class="underline block p-4" href="https://warthog.herominers.com/" target="_blank">Herominers Pool</a>
                <a class="underline block p-4" href="https://warthog.cedric-crispin.com/" target="_blank">Cedric-Crispin Pool</a>
                <a class="underline block p-4" href="https://warthogunited.com/#wart1" target="_blank">WarthogUnited Pool</a>
                <a class="underline block p-4" href="https://e4pool.com/wart" target="_blank">e4pool</a>
                <a class="underline block p-4" href="http://warthog.nxtpool.com/" target="_blank">nxtpool</a>
                <a class="underline block p-4" href="https://www.bzminer.com/" target="_blank">bzminer</a>
                <a class="underline block p-4" href="https://github.com/CoinFuMasterShifu/janusminer" target="_blank">janusminer</a>
            </div>
        </div>
    </div>
{% endblock %}