{% extends 'base.html' %}

{% block title %}
Richlist | Warthog (WART) Blockchain Explorer
{% endblock %}

{% block content %}
    <div class="h-8"></div>
    <div class="">
      <p class="font-bold text-2xl pb-2">Richlist</p>
      <div class="w-full">
        <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 overflow-auto">
          <table class="table-auto w-full divide-neutral-700 divide-y rounded-lg px-4">
            <thead class="text-left text-md leading-4">
              <tr>
                <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500 rounded-tl-lg">#</th>
                <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500">Address</th>
                <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500 rounded-tr-lg">Balance</th>
              </tr>
            </thead>
            <tbody class="divide-neutral-700 divide-y text-md leading-4">
              {% for acc in accdata %}
              <tr>
                <td class="p-4">{{ acc["#"] }}</td>
                <td class="p-4">{{ acc["address"] | safe }}</td>
                <td class="p-4">{{ acc["balance"] }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="flex w-full justify-center">
            <div>
              <a href='/richlist?p={{ page - 1 }}'>
                <svg class="h-4 inline fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
              </a> <p class="font-bold inline">{{ page }}</p>
              <a href='/richlist?p={{ page + 1 }}'>
                <svg class="h-4 inline fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}