{% extends 'base.html' %}

{% block title %}
Status | Warthog (WART) Blockchain Explorer
{% endblock %}

{% block content %}
    <div class="h-8"></div>
    <div class="">
        <p class="font-bold text-2xl pb-2">Status</p>
        <div class="w-full overflow-auto">
            <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 flex flex-col text-center">
                <p class="text-base p-4 inline-block underline"><a href="https://status.wartscan.io/" target="_blank">Uptime</a></p>
                Average block time delta (24h): {{ blocktime_delta }}
                Expected supply delta: {{ supply_delta }}
            </div>
        </div>
    </div>
    <div class="h-32">
    </div>
    <div class="">
        <p class="font-bold text-2xl pb-2">Status</p>
        <div class="w-full overflow-auto">
            <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 flex flex-col text-center">
                <table class="table-auto w-full divide-neutral-700 divide-y rounded-lg px-4">
                    <thead class="text-left text-md leading-4">
                      <tr>
                        <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500 rounded-tl-lg">Timestamp</th>
                        <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500">Job</th>
                        <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500">Status</th>
                        <th class="bg-neutral-50 dark:bg-neutral-900 p-4 text-neutral-500">Duration</th>
                      </tr>
                    </thead>
                    <tbody class="divide-neutral-700 divide-y text-md leading-4">
                      {% for log in logs %}
                      <tr>
                        <td class="p-4">{{ log[0] }}</td>
                        <td class="p-4">{{ log[1] }}</td>
                        <td class="p-4">{{ log[2] }}</td>
                        <td class="p-4 ">{{ log[3] }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="t">
        </div>
    </div>

{% endblock %}