{% extends 'base.html' %}

{% block title %}
{{ title | safe}} | Warthog (WART) Blockchain Explorer
{% endblock %}

{% block content %}
    <div class="h-8"></div>
    <div class="">
      <p class="font-bold text-2xl pb-2">Transaction</p>
      <div class="w-full">
        <div class="bg-neutral-50 dark:bg-neutral-900 rounded-lg border border-neutral-700 overflow-auto">
          <table class="table-auto w-full divide-neutral-700 divide-y rounded-lg px-4">
            <tbody class=" text-md leading-4">
            <tr>
              <td class="p-4 text-neutral-500">Type:</td>
              <td class="p-4">{{ tx["type"] }}</td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Hash:</td>
              <td class="p-4">{{ tx["hash"] }}</td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Amount:</td>
              <td class="p-4">{{ tx["amount"] }} WART</td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Fee:</td>
              <td class="p-4">{{ tx["fee"] }} WART</td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Timestamp:</td>
              <td class="p-4">{{ tx["timestamp"] }}</td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Nonce:</td>
              <td class="p-4">{{ tx["nonce"] if tx["nonce"] }}</td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">PinHeight:</td>
              <td class="p-4">{{ tx["pinHeight"] if tx["pinHeight"] }}</td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Height:</td>
              <td class="p-4"><a class="underline" href="/block/{{ tx["height"] }}">{{ tx["height"] }}</a> <p class="text-orange-300 inline pl-4">({{ confirmations }} Confirmation{{ "s" if confirmations != 1 else ""}})</p></td>
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Sender:</td>
                {% if tx["sender"] != "" %}
                    <td class="p-4"><a class="underline" href="/account/{{ tx["sender"] }}">{{ tx["sender"] }}</a></td>
                {% else %}
                    <td class="p-4">Block Reward</td>
                {% endif %}
            </tr>
            <tr>
              <td class="p-4 text-neutral-500">Recipient:</td>
                <td class="p-4"><a class="underline" href="/account/{{ tx["recipient"] }}">{{ tx["recipient"] }}</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}